.title-copy {
    font-size: 5rem;
    text-align: center;
}
 
.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: inline-block;
}

.btn-red {
    background-color:red;
}

.red {
    background-color:red;
}

.blue {
    background-color:blue;
}

.green {
    background-color:green;
}

.white {
    background-color:white;
}